<div>
    <h1>Usuarios Cadastrados</h1>
</div>
{{#each user}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{name}}</h3>
        <h5>{{department}}</h5>
        <h5>{{status}}</h5>
        <a href="/user/edit/{{_id}}"><button class="btn btn-success" type="submit">Editar</button></a>
        <form action="#" method="POST">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
    </div>
</div>
{{else}}
    <br>
    <div>
        <h4>Nenum usuario registrado</h4>
        <a href="/user/register"><button class="btn btn-info">Novo Usuario</button></a>
    </div>
{{/each}}