{{#if erros}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/if}}

<div class="card mt-4">
    <div class="card-body">
        <form action="/user/register" method="POST">
            <label for="name">Nome: </label>
                <input type="text" name="name" class="form-control" required>
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required>
            <label for="response">Cargo: </label>
                <input type="text" name="response" class="form-control" required>
            <label for="id8">8ID: </label>
                <input type="text" name="id8" class="form-control" required>
            <label for="password">Senha: </label>
                <input type="password" name="password" class="form-control" required>
            <label for="psswd2">Confirme a senha: </label>
                <input type="password" name="psswd2" class="form-control" required>
            <!-- Seleção de departamento -->
            <label for="dp"></label>
            {{#each department}}
                <option value="{{_id}}" aria-required="true">{{nickname}}</option>
            {{else}}
                <option value="0">Nenhum departamento registrado</option>
            {{/each}}
            <!-- /Seleção de departamento -->
            <!-- Seleção de Empresa -->
            <label for="company"></label>
            {{#each company}}
                <option value="{{_id}}" aria-required="true">{{name}}</option>
            {{else}}
                <option value="0">Nenhuma empresa registrada</option>
            {{/each}}
            <!-- /Seleção de Empresa -->
            <button type="submit" class="btn btn-success mt-3">Cadastrar</button>
        </form>
    </div>
</div>