<div>
    <h1>Colaboradores Cadastrados</h1>
</div>
{{#each colaborator}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{name}}</h3>
        <h5>{{id8}}</h5>
        <h5>{{department}}</h5>
        <h5>{{status}}</h5>
        <a href="/admin/colaborators/editColab/{{_id}}"><button class="btn btn-success"
                type="submit">Editar</button></a>
        <form action="#" method="POST">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
    </div>
</div>
{{else}}
<br>
<div>
    <h4>Nenhum colaborador cadastrdo</h4>
    <a href="/admin/colaborators/register"><button class="btn btn-info">Novo Colaborador</button></a>
</div>
{{/each}}